* {
    background-color: black;
    color: white;
    padding: 0px;
    border: 0px;
    margin: 0px;
    outline: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

li::before {
    content: "⬤ ";
    color: rgba(255, 255, 255, 0.5);
}

/* -------- */

.HEADER>.SPOTLIGHT>ul>li {
    font-size: 2em;
    text-align: center;
}

.HEADER>.SPOTLIGHT>ul>li>a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.BODY>.NOTICE>.GENERAL,
.BODY>.NOTICE>.ACADEMIC {
    display: inline-block;
    width: 50%;
}