* {
    background-color: black;
    color: white;
    padding: 0px;
    border: 0px;
    margin: 0px;
    outline: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
    vertical-align: top;
}

*::-webkit-scrollbar {
    display: none;
}

li::before {
    content: "⬤ ";
    color: rgba(255, 255, 255, 0.5);
}

.HIGHLIGHT-TEXT-RED {
    color: rgb(255, 100, 100);
}

h1 {
    text-align: center;
}

body>.MESSAGE {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2em;
    animation: messageBlinker 5s infinite;
}

@keyframes messageBlinker {
    0% {
        background-color: rgb(255, 0, 0);
    }

    50% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 0, 0);
    }
}

/* -------- */

.HEADER>.SPOTLIGHT>ul>li {
    font-size: 2em;
    text-align: center;
}

.HEADER>.SPOTLIGHT>ul>li>a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.BODY>.NOTICE>.GENERAL,
.BODY>.NOTICE>.ACADEMIC {
    display: inline-block;
    width: 50%;
}

.BODY>.NOTICE>.GENERAL>ul>li,
.BODY>.NOTICE>.ACADEMIC>ul>li {
    font-size: 1.5em;
}

.BODY>.NOTICE>.GENERAL>ul>li>a:hover,
.BODY>.NOTICE>.ACADEMIC>ul>li>a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}